footer {
    position: relative;
    width: 100vw;
    height: 54px;
    margin-top: auto;
    background-color: $footer-color;
    bottom: 0;

    p {
        @include footer-font;
        position: absolute;
        color: white;
        margin: 17px auto 18px 5vw;
    }
}