main {
    display: grid;

    .main-article {
        width: 72vw;
        justify-self: center;
        margin-top: 80px;

        h1 {
            @include paragraph-header-font;
            margin: 20px 0 15px 0;
        }

        p {
            @include paragraph-text-font;
            margin: 15px 0;
        }

        .img-container {
            display: flex;
            flex-direction: column;

            .par-img {
                max-width: 600px;
            }

            .img-label {
                @include img-label-font;
                margin: 5px 0 0px;
            }
        }

        .paragraph-hr {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
}