main {
    display: grid;

    .main-article {
        width: 72vw;
        justify-self: center;
        margin-top: 80px;

        h1 {
            @include paragraph-header-font;
            margin: 30px 0;
        }

        p {
            @include paragraph-text-font;
            margin: 25px 0;
        }

        .par-img {
            max-width: 600px;
        }
    }
}