main {
    display: grid;
    z-index: 1;

    .main-article {
        width: 72vw;
        justify-self: center;
        margin-top: 80px;

        h1 {
            @include paragraph-header-font;
            margin: 20px 0 15px 0;
        }

        p {
            @include paragraph-text-font;
            margin: 15px 0;
        }

        .img-container {
            display: flex;
            flex-direction: column;

            .par-img {
                max-width: 600px;
                filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.35));

                @media screen and (max-width: $medium-res-screen) {
                    max-width: 400px;
                }
            }

            .img-label {
                @include img-label-font;
                margin: 5px 0 0px;
            }
        }

        .paragraph-hr {
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: $medium-res-screen) {
    main {
        width: 95vw;

        .main-article {
            width: 90vw;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}