$primary-green: #37b437;
$secondary-green: #67E367;
$pagraph-header-color: #676767;
$paragraph-text-color: #3E3E3E;
$footer-color: #BB3030;
$secondary-red: #FC4141;

$hight-res-screen: 1100px;
$medium-res-screen: 700px;
$low-res-screen: 520px;

$header-hight: 15vh;
$bar-width: 50px;
$bar-height: 5px;

$big-screen-article-width: 72vw;
$small-screen-article-width: 90vw;