@import "./_variables";
@import "./_fonts";
@import "./_header";
@import "./_footer";
@import "./_main-element";

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}